<!--**********************************
            Sidebar start
        ***********************************-->
        <!--********************** Dashboards Personnels  ******************************* -->


        {% if Utilisateurs[8] == 'Personnels'%}

        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--********************** Dashboards Formateurs  ******************************* -->

        {% elif Utilisateurs[8] == 'Formateurs'%}

                
        <!--**********************************
                    Sidebar end
        ***********************************-->
                
         <!--********************** Dashboards Apprenants  ******************************* -->

        {% elif Utilisateurs[8] == 'Apprenants'%}

        <div class="dlabnav">
            <div class="dlabnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="la la-users"></i>
                            <span class="nav-text">Apprenants</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('listapprenants') }}">list Apprenants</a></li>
                            <li><a href="{{ url_for('ajoutapprenants') }}">Ajout Apprenants</a></li>
                            <li><a href="{{ url_for('modifieapprenants') }}">Modifie Apprenants</a></li>
                            <li><a href="{{ url_for('suprimeapprenants') }}">Suprime Apprenants</a></li>
                            <li><a href="{{ url_for('infosapprenants') }}">À propos des Apprenants</a></li>
                            <li><a href="{{ url_for('monespace') }}">Mon espace</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="la la-graduation-cap"></i>
                            <span class="nav-text">Categories</span>
                        </a>
                    <ul aria-expanded="false">
                            <li><a href="{{ url_for('listcategories') }}">list Categories</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="la la-graduation-cap"></i>
                            <span class="nav-text">Cours</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('listCours')}}">list Cours</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                           <i class="la la-graduation-cap"></i>
                           <span class="nav-text">Programmes</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('listprogrammes') }}">list programmes</a></li>
                            <li><a href="{{ url_for('ajoutprogrammes') }}">Ajout programmes</a></li>
                            <li><a href="{{ url_for('modifieprogrammes') }}">Modifie programmes</a></li>
                            <li><a href="{{ url_for('suprimeprogrammes') }}">Suprime programmes</a></li>
                            <li><a href="{{ url_for('infosprogrammes') }}">Infos programmes</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="la la-users"></i>
                            <span class="nav-text">Communications</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="{{ url_for('emailing')}}"> envoi d'email</a></li>
                            <li><a href="{{ url_for('sentiment')}}">analyse des commentaires</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

            
        {% endif%}
    
        <!--**********************************
                Sidebar end
        ***********************************-->


