{% extends "base.html" %}
{% block centre %}
<!--**********************************
     Content body start
 ***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Bailleurs</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Bailleurs</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Ajouter nouveau bailleur</a></li>
                </ol>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Informations de base</h5>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('ajoutbailleurs') }}" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Nom de l'Entreprise</label>
                                        <input type="text" class="form-control" name="NomEntreprise" id="NomEntreprise" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Adresse</label>
                                        <input type="text" class="form-control" name="Adresse" id="Adresse" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control" name="Email" id="Email" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Téléphone</label>
                                        <input type="tel" class="form-control" name="Telephone" id="Telephone" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="IdProgrammes">Programmes</label>
                                        <select class="form-control" name="IdProgrammes" id="IdProgrammes" required>
                                            <option selected disabled>Choisissez...</option>
                                            {% for programme in Programmes %}
                                                <option value="{{ programme.IdProgrammes }}">{{ programme.Titre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="TypeFinancement" class="form-label">Type de Financement</label>
                                        <select name="TypeFinancement" class="form-control" id="TypeFinancement" required>
                                            <option selected disabled value="">Choisissez...</option>
                                            <option>Subvention</option>
                                            <option>Don</option>
                                            <option>Sponsoring</option>
                                            <option>Prêt</option>
                                            <option>Investissement</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Détails du Financement</label>
                                        <textarea class="form-control" name="DetailsFinancement" rows="5" placeholder="" required></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Montant du Financement</label>
                                        <input type="number" step="0.01" class="form-control" name="MontantFinancement" id="MontantFinancement" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Nom du Contact</label>
                                        <input type="text" class="form-control" name="Nom_Contact" id="Nom_Contact" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="Genre" class="form-label">Genre</label>
                                        <select name="Genre" class="form-control" id="Genre" required>
                                            <option selected disabled value="">Choisissez...</option>
                                            <option>Homme</option>
                                            <option>Femme</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Poste du Contact</label>
                                        <input type="text" class="form-control" name="Poste_Contact" id="Poste_Contact" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Téléphone du Contact</label>
                                        <input type="tel" class="form-control" name="Telephone_Contact" id="Telephone_Contact" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Email du Contact</label>
                                        <input type="email" class="form-control" name="Email_Contact" id="Email_Contact" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <button type="submit" class="btn btn-primary">Soumettre</button>
                                    <button type="reset" class="btn btn-light">Annuler</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
     Content body end
 ***********************************-->
{% endblock %}
